
@{
    ViewBag.Title = "Help";
}
<br />
<br />
<h2>Помощь</h2>
<h3>На что стоит обратить внимание :</h3>
<ul>
    <li>Можно проссмотреть несколько страниц без регистрации</li>
    <li>Поиск телефона в поисковике, проссмотр всех телефонов и информацию о них, покупка<br />
    требуют регистрации</li>
    <li>Сайт автоматически переведет вас на форму регистрации при необходимости</li>
    <li>Данные для входа на сайт в роли администратора: Email-Kilar07@mail.ru</li>
    <li>Для админа есть специальный метод "PhoneListForAdmin", название которого надо<br />
    ввести прямо в адресную строку, после чего можно править элементами</li>
</ul>

@Html.ActionLink("Обратно", "MainView")